language: python
sudo: false
python:
  - "3.6"
  - "3.7-dev"  # 3.7 development branch
services:
  - postgresql

env:
  - DJANGO_VERSION=2.1.5
install:
  - pip install -r requirements.txt
  - pip install coveralls coverage
script:
  - source postactivate_test
  - coverage run manage_base.py test
after_success:
  - coveralls