language: python
sudo: false
python:
  - "3.6"
  - "3.7"  # 3.7 development branch
# command to install dependencies
env:
  - DJANGO_VERSION=2.1.5
install:
  - pip install -r requirements.txt
# command to run tests
script:
  - source postactivate_sample
  - ./manage_base.py test