aiohttp==3.0.9
Django==2.0.4
django-filter==1.1.0
django-rosetta==0.8.1
djangorestframework==3.7.7
docutils==0.14
lxml==4.1.1
psycopg2==2.7.4
pycparser==2.18
pyOpenSSL==17.5.0
python-dateutil==2.6.1
python-slugify==1.2.4
pytz==2017.3
PyYAML==3.12
requests==2.18.4
six==1.11.0
sqlparse==0.2.4
toml==0.9.4
tqdm==4.19.1
troposphere==2.2.0
Unidecode==1.0.22
urllib3==1.22
varint==1.0.2
Werkzeug==0.12
wsgi-request-logger==0.4.6
yarl==1.1.1
